body {
    background-color: #dbefff;
    font-family: 'IBM Plex Sans', sans-serif;
    color: #4e6394;
}

.container-fluid {
    width: 100%;
    padding-right: 0;
    padding-left: 0;
    margin-right: 0;
    margin-left: 0;
    overflow: auto;
}

#plot {
    width: 100%;
    height: 100vh;
    margin-bottom:50px;
}

#plot canvas {
	width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

#movements {
    mix-blend-mode: multiply;
}

h1 {
    text-align: left;
    font-size: 7rem;
    font-weight: 700;
    font-style: normal;
    font-family: big-caslon-fb, 'IBM Plex Serif', serif;
    color: #4e6394;
    line-height: 0.9em;
    z-index: -1;
}

@media (max-width: 600px) {
    h1 {
        font-size: 3rem;
    }
}

.title {
    position: absolute;
    z-index: 1;
    bottom: 7%;
    margin-left: 30px;
}

@media (max-height: 800px) {
    .title {
        bottom: 10%;
    }
}

@media (max-width: 600px) {
    .title {
        margin-left: 0 !important;
    }
}

.him {
    color: #F95700;
}

.her {
    color: #00A4CC;
}

h2 {
    text-align: center;
    font-size: 1rem;
}


p {
    margin-top: 0.5rem;
    font-size: 1rem;
    font-weight: 400;
    font-style: normal;
}

.land {
    fill: white;
}

.dot {
    opacity: 75%;
    mix-blend-mode: hard-light;
}

.line {
    stroke-width: 1;
}

.line-him, .line-her {
    mix-blend-mode: multiply;
}

/* button */

#replay, #pause, #stop {
    font-size: 1rem;
    font-weight: bold;
    touch-action: manipulation;
    cursor: pointer;
}

.animationBTN {
    text-align: center;
}

.choices {
    display: flex;
    display: flex;
    padding-left: 15px;
    padding-right: 30px;
}

@media (max-width: 600px) {
    .choices {
        padding-left: 15px;
        flex-flow: wrap;
    }
}

.choices div, .animationBTN a {
    padding-right: 15px;
}


@media (max-width: 600px) {
    #replayDiv {
        width: 100%;
        padding-bottom: 0.1em;
    }
}

#replay:hover,
#replay:focus,
#pause:hover,
#pause:focus, 
#stop:focus, 
#stop:hover {
    color: #222;
    text-decoration: underline;
}

.inactive {
    color: #696969 !important;
    cursor: auto !important;
    text-decoration: none !important;
}

.time {
    padding-left: 15px;
    margin-left: 0;
    text-transform: uppercase;
}


@media (max-width: 600px) {
    .time {
        padding-left: 15px;
    }
}

#timeFrame {
    font-size: 0.9rem;
    margin-bottom: 10px;
    border-bottom: 0.5px dashed #747474;
}

@media (max-width: 600px) {
    #timeFrame {
        font-size: 0.8rem;
        border-bottom: 0;
        font-weight: bold;
    }
}

.hide {
    display: none;
}

footer {
    position: absolute;
    bottom: 0;
    padding-left: 45px;
    background-color:#4e6394;
    width: 100%;
    font-size: 0.9em;
    padding-top: 0.2em;
    line-height: 2em;
    mix-blend-mode: multiply;
    color: white;
    display: flex;
}

@media (max-width: 600px) {
    footer {
        flex-wrap: wrap;
        padding: 0 15px;
        text-align: center;
    }

    footer p {
        text-align: center !important;
        width: 100% !important;
    }

    footer a {
        padding-right: 0 !important;
        padding-left: 0 !important;
        line-height: 1.2rem;
        padding-bottom: 0.5rem;
        text-align: center !important;
        width: 100%;
    }
}

footer a {
    color: white;
    font-weight: bold;
    padding-left: 15px;
}

footer a:hover, footer a:focus {
    text-decoration: underline;
    color:white;
}

footer p {
    margin: 0;
    text-align: left;
    font-size: 1em;
}